<!--service start -->
<section id="service" class="service">
    <div class="container">
        <div class="service-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car"></i>
                        </div>
                        <h2><a href="#">đại lý xe máy lớn nhất <span> of</span> car</a></h2>
                        <p>
                            HUYMOTO SHOP là đại lý phân phối các dòng xe moto phân khối lớn có quy mô lớn nhất. Cửa hàng có mặt tại 63 tỉnh thành trên khắp các đất nước Việt Nam
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car-repair"></i>
                        </div>
                        <h2><a href="#">bảo hành sửa chữa không giới hạn</a></h2>
                        <p>
                            Khi mua xe tại HUYMOTO SHOP bạn sẽ được hưỡng các đặc quyền hết sức hấp dẫn. Bạn sẽ được đội ngũ chuyên nghiệp thực hiện việc bảo hành sửa chữa miên phí khi có vấn đề liên quan đến hư hỏng
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car-1"></i>
                        </div>
                        <h2><a href="#">hỗ trợ bảo hiểm</a></h2>
                        <p>
                            Bạn sẽ được hỗ trợ mua bảo hiểm xe máy và gia hạn bảo hiểm nếu có nhu cầu. Đội ngũ tư vấn nhiệt tình giải quyết vấn đề của bạn
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->

</section><!--/.service-->
