
@{
    ViewBag.Title = "OrderSeccess";
    Layout = "~/Areas/User/Views/Shared/_LayoutAll.cshtml";
}


<<h5>Your Order has been placed successfuly. Please click @Html.ActionLink("here", "Index", "User")</h5>

